@use "../global/" as *;

.c-scroll {
  position: absolute;
  padding-bottom: 5rem;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.457rem;
  font-weight: 300;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    display: block;
    width: 0.1rem;
    height: 3.6rem;
    background-color: rgb(47, 61, 97);
  }

  @include mq() {
    @include pb_vw(69, 750);
    @include f_vw(19.95, 750);

    &::after {
      width: 0.2rem;
      @include h_vw(53, 750);
    }
  }
}
