@use "../global/" as *;

.p-fv {
  position: relative;
  padding-top: 12rem;
  padding-bottom: 12.3rem;
  background-color: #fff;

  @include mq() {
    @include pt_vw(79, 750);
    @include pb_vw(190, 750);
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 24.6rem;
    background-color: #fdfdfd;
    // z-index: -1;
  }

  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    column-gap: 3.2rem;

    @include mq() {
      flex-direction: column;
    }
  }

  &__img {
    position: relative;

    > img {
      position: absolute;
      top: 5.1rem;
      left: 1rem;
      width: 20.6rem;
    }

    @include mq() {
      margin: 0 auto;
      max-width: 32.9rem;

      > img {
        top: 7.3rem;
        left: 1.5rem;
      }
    }
  }

  &__text {
    p {
      &:first-of-type {
        margin-top: 12rem;
        margin-bottom: 2.4rem;
        font-size: 3.431rem;
        font-weight: bold;
        line-height: calc(51.46px / 34.31px);
        letter-spacing: 0.04em;

        @include mq() {
          margin-top: 0;
          @include mb_vw(20, 750);
          @include f_vw(49.98, 750);
          text-align: center;
          line-height: calc(74.97px / 49.98px);
        }
      }

      &:last-of-type {
        position: relative;
        width: 100%;
        font-size: 3.431rem;
        font-weight: bold;
        line-height: calc(51.46px / 34.31px);
        letter-spacing: 0.04em;

        span {
          position: relative;
          display: inline-block;
          margin-left: 0.9rem;
          margin-right: 1.3rem;
          font-size: 4.434rem;
          line-height: calc(75.19px / 44.34px);
          z-index: 1;

          &::before {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 10%;
            transform: translateX(-50%) scaleX(0);
            display: block;
            width: 255px;
            height: 28px;
            background-repeat: no-repeat;
            background-size: contain;
            transform-origin: left top;
            transition: all 0.3s 0.3s;
            z-index: -1;
          }

          &.completed {
            &::before {
              transform: translateX(-50%) scaleX(1);

              background-image: url(../images/fv_marker.webp);
              background-repeat: no-repeat;
              background-size: contain;
              // z-index: -1;
            }
          }
        }

        &::before {
          content: "※1";
          position: absolute;
          top: 13%;
          right: 1.7rem;
          font-size: 1rem;
        }

        &::after {
          content: "※1 2023年5月時点の社内データ";
          position: absolute;
          right: 2rem;
          bottom: -5rem;
          font-size: 1rem;
        }

        @include mq() {
          margin: 0 auto;
          width: fit-content;
          @include f_vw(55.45, 750);
          text-align: center;

          &::before {
            @include right(4.5, 750);
            @include f_vw(15.53, 750);
          }

          &::after {
            right: 0;
            bottom: -50%;
            @include f_vw(15.53, 750);
          }

          span {
            @include ml_vw(15, 750);
            @include mr_vw(18, 750);
            @include f_vw(71.67, 750);

            &::before {
              @include w_vw(424, 750);
              @include h_vw(55, 750);
            }

            &.completed {
              &::before {
                transform: translateX(-50%) scaleX(1);

                background-image: url(../images/fv_marker-sp.webp);
                background-position: bottom center;
              }
            }
          }
        }
      }
    }

    @include mq() {
      margin-top: -5%;
    }
  }
}
